/* CSS Document */

.contextmenu
{
	font-size:14px
}

/*стиль всего меню меню
при настройке стиля его желательно не трогать*/
ul.contextmenu,  ul
{
	position:absolute;
	top:0;
	left:0;
	list-style:none;
	padding:0;
	margin:0;
	display:none
}

ul.contextmenu li
{
	
}
/*стиль одного прарметра меню*/
ul.contextmenu li a
{
	display:block;
	width:140px;
	padding:1px 0px 1px 10px;
	background:#333;
	color:#F4F9A6;
	text-decoration:none;
	border-top:1px solid #3F3F3F;

}

/*наведенное меню*/
ul.contextmenu li a:hover
{
	background:#666;
	color:#FFF
}

/*это класс который означает что в этом параметре есть подменю
указывать этот параметр не нужно, скрипт сам добавит все необходимое*/
ul.contextmenu li a span.suubmeny
{
	float:right;
	width:10px;
	height:10px;
	margin:3px 3px 0px 0px;
	background:#00FF00;
	
}

ul.contextmenu li a span
{
	display:block;
	font-size:12px;
	color:#999
}

ul.contextmenu li a:hover span
{
	color:#CCCCCC;	

}

